
<head>
<style>
    .flex-container {
      display: flex;
      flex-direction: row;
      background-color: red;
      width: 100%;
    }
    
    .flex-container > div {
      background-color: black;
      width: 70px;
      margin: 10px;
      
      color: white;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
    }
    .flex-container > p   {
      color: white;
      text-align: center;
      line-height: 50%;
      font-size: 30px;
    }
    @media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
    width: 30px;
    margin: 10px;
  }
}
    </style>
    </head>
    <body>
    
    <div class="flex-container">
        <p>a</p>
      <div>1</div>
      <div>2</div>
      <div>3</div>  
      <div>4</div>
      <div>5</div>
      
    </div>
    <div class="flex-container">
        <p>b</p>
        <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div>4</div>
        <div>5</div>
        
      </div>
      <div class="flex-container">
        <p>c</p>
        <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div>4</div>
        <div>5</div>
        
      </div>
      <div class="flex-container">
          <p>d</p>
        <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div>4</div>
        <div>5</div>
        
      </div>
    </body>
    
    