<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-image:url("../cinemastage.jpg");
        background-repeat: no-repeat;
        background-size:cover;
       
    }
    .brclogo {
        size: 50% ;

    }
</style>
<body>
   s <header>
          <a class="nav-link active" href="index.html">Main</a> 
          <a class="nav-link active" href="reservations.html">Reservations</a>
           <a class="nav-link active" href="about.html">History</a>
           <a class="nav-link active" href="payment.html">payment methods</a>
           <a class="nav-link active" href="location.html">Location instructions</a>

      </header>
    <img class="brclogo" src="../blackredcinemalogo.svg" alt="blackredcinemalogo">

    <footer> <a class="nav-link active" href="pagemap.html">pagemap</a></footer>
</body>
</html>