h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

li {
    color: rgb(155, 127, 255);
}

img {
    max-width: 100%;
}

section {
    border-style: solid;
    margin: 15px;
    padding: 10px;
}

#sec1 {
    background-color: aquamarine;
    border-style: solid;
}

#sec2 {
    background-color: aqua;
    border-style: solid;
}

body {
    background-color: skyblue;
    margin: auto;
    max-width: 650px;
    padding: 20px;
}