<!DOCTYPE html>
<html>
<head>
    <title><%= title ;%></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title ;%></h1>
<p>List of users:</p>
<ul>
    <% for (i = 0; i < users1.length; i++) { %>
        <li> <%= users1[i].dataValues.firstName ;%> <%= users1[i].dataValues.lastName ;%> </li>
    <% } %>
</ul>

</body>
</html>
