<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5; URL=/mainsite3/"  />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="wrap">
        <div class="loading">
          <div class="bounceball"></div>
          <p> Welcome <%= user.name %></p>
          <div class="text">NOW LOADING Blackredcinema secret reservation </div>
        </div>
      </div>
      
</body>
</html>