<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="268617966419-h19b582mhou65qn4d1ns8s5i3ea5sf78.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
    <title>Login/Kirjautuminen</title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Login/Kirjautuminen</h1>
    <%- include partials/messages %>

    <form action="/users/login" method="POST">
        <div>
        <label for="email">Email</label>
        <input
        type="email"
        name="email"
        placeholder="Enter Email"
        />
        </div>
        <div>
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              placeholder="Enter Password"
            />
          
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
           
        </form>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

    <script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
         console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
         console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        var id_token = googleUser.getAuthResponse().id_token;
        console.log(id_token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/profile')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
      }
    </script>
     
</body>
</html>