<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>bye bye</h1>
    <h2>offers:</h2>
    <img src="/blackredcinema2/public/images/banner-ads-examples-apple.jpg" alt="banner">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sapien quam, varius eleifend placerat a, tristique eget ante. Sed ullamcorper tellus quis iaculis pharetra. Sed sed vestibulum dolor. Vestibulum vestibulum finibus nulla, sit amet euismod metus convallis ac. Sed a nibh ac metus maximus interdum. Vestibulum cursus et nibh at pellentesque. Sed at purus semper, auctor sem et, ullamcorper arcu. Donec bibendum luctus neque. Etiam quis diam nec quam auctor tempus efficitur nec arcu. Duis consectetur, felis sed tincidunt accumsan, augue odio suscipit tellus, quis consequat ligula urna vitae lectus. Vivamus condimentum risus mi, sed tristique elit sagittis sed. Praesent tellus nisl, tincidunt placerat pretium quis, mattis eu ex. Vestibulum sed ante accumsan, gravida risus eu, lobortis odio. Morbi sed lectus in elit tempor molestie eget vitae leo. Cras ut faucibus ipsum.</p>
    <p>Proin fringilla risus quis tortor feugiat, nec faucibus metus aliquam. Praesent sollicitudin arcu nec accumsan pretium. Cras eget pharetra ipsum. Maecenas at risus mi. Sed dictum venenatis massa, vehicula tempus libero venenatis at. Quisque congue ex nec augue convallis vehicula. Cras pretium elementum felis ac consectetur. Duis justo diam, tristique in leo id, fermentum rutrum ante. Nunc vitae venenatis elit. Suspendisse ac risus risus. In in sollicitudin massa, id volutpat diam.</p>
</body>
</html>